* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

div {
  margin-bottom: 20px;
}

span {
  color: red;
  font-size: 17px;
  font-weight: bolder;
}

nav {
  width: 70%;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

h1 {
  color: rgb(80, 80, 235);
  text-align: center;
}

textarea,
input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
}

.submit__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.message {
  color: firebrick;
}

.header {
  max-width: 1200px;
  min-height: 100px;
  margin: 0 auto;
  padding: 10px;
  background: #90caf9;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.main {
  max-width: 1200px;
  margin: 15px auto;
  padding: 10px;
  background: #cadceb;
}

.footer {
  max-width: 1200px;
  min-height: 100px;
  margin: 0 auto;
  padding: 10px;
  background: #90caf9;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn__create,
.btn__login,
.btn__register,
.btn__logout {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn__create,
.btn__login {
  background: #4caf50;
  width: 200px;
  cursor: pointer;
}
.btn__register {
  background: #008cba;
  width: 200px;
  cursor: pointer;
}

.btn__logout {
  background: #f44336;
  width: 200px;
  cursor: pointer;
}

.active {
  background: white;
  color: black;
}

a {
  color: white;
}
